.details-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.4rem;
  padding: 1rem;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #2c2c2c;
  overflow-y: auto;
  height: 100%;
}

.details-content h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: #111;
}

.details-content p {
  margin: 0;
  padding: 0;
  border-bottom: 1px dashed #ddd;
  padding-bottom: 0.3rem;
  margin-bottom: 0.3rem;
  color: #444;
}

.details-content strong {
  color: #000;
  font-weight: 500;
}
